

@media screen and (max-width:1700px) {
  .socialIcons{
    margin-right: 21px;
  }  
}
@media screen and (max-width:1400px) {
    
}
@media screen and (max-width:1200) {
   
}

@media screen and (max-width:992px) {
   
    .socialIcons{
        margin-right: 16px;
    }
}
@media screen and (max-width:768px) {
  
        .socialIcons{
            margin-top: 5px;
            margin-right: 0px;
        }
}
@media screen and (max-width:576px) {
  
}
@media screen and (max-width:400px) {
   
    
}